<a href="https://colab.research.google.com/github/NguyenN28/Data/blob/main/M1ExploreDataSet_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Survey Dataset Exploration Lab**

Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Load the dataset that will used thru the capstone project.
*   Explore the dataset.
*   Get familier with the data types.

## Load the dataset

Import the required libraries.

In [1]:
import pandas as pd

The dataset is available on the IBM Cloud at the below url.

In [2]:
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

Load the data available at dataset_url into a dataframe.

In [4]:
df=pd.read_csv(dataset_url)

## Explore the data set

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [5]:
result= df.head(5)
print('first 5 rows')
print(result)

first 5 rows
   Respondent                      MainBranch Hobbyist  \
0           4  I am a developer by profession       No
1           9  I am a developer by profession      Yes
2          13  I am a developer by profession      Yes
3          16  I am a developer by profession      Yes
4          17  I am a developer by profession      Yes

                                         OpenSourcer  \
0                                              Never
1                         Once a month or more often
2  Less than once a month but more than once per ...
3                                              Never
4  Less than once a month but more than once per ...

                                          OpenSource          Employment  \
0  The quality of OSS and closed source software ...  Employed full-time
1  The quality of OSS and closed source software ...  Employed full-time
2  OSS is, on average, of HIGHER quality than pro...  Employed full-time
3  The quality of OSS and closed source software ...  Employed full-time
4  The quality of OSS and closed source software ...  Employed full-time

          Country Student                                            EdLevel  \
0   United States      No           Bachelor’s degree (BA, BS, B.Eng., etc.)
1     New Zealand      No  Some college/university study without earning ...
2   United States      No        Master’s degree (MA, MS, M.Eng., MBA, etc.)
3  United Kingdom      No        Master’s degree (MA, MS, M.Eng., MBA, etc.)
4       Australia      No           Bachelor’s degree (BA, BS, B.Eng., etc.)

                                      UndergradMajor  ...  \
0  Computer science, computer engineering, or sof...  ...
1  Computer science, computer engineering, or sof...  ...
2  Computer science, computer engineering, or sof...  ...
3                                                NaN  ...
4  Computer science, computer engineering, or sof...  ...

                              WelcomeChange  \
0   Just as welcome now as I felt last year
1   Just as welcome now as I felt last year
2  Somewhat more welcome now than last year
3   Just as welcome now as I felt last year
4   Just as welcome now as I felt last year

                                        SONewContent   Age Gender Trans  \
0  Tech articles written by other developers;Indu...  22.0    Man    No
1                                                NaN  23.0    Man    No
2  Tech articles written by other developers;Cour...  28.0    Man    No
3  Tech articles written by other developers;Indu...  26.0    Man    No
4  Tech articles written by other developers;Indu...  29.0    Man    No

                 Sexuality                              Ethnicity Dependents  \
0  Straight / Heterosexual           White or of European descent         No
1                 Bisexual           White or of European descent         No
2  Straight / Heterosexual           White or of European descent        Yes
3  Straight / Heterosexual           White or of European descent         No
4  Straight / Heterosexual  Hispanic or Latino/Latina;Multiracial         No

            SurveyLength                  SurveyEase
0  Appropriate in length                        Easy
1  Appropriate in length  Neither easy nor difficult
2  Appropriate in length                        Easy
3  Appropriate in length  Neither easy nor difficult
4  Appropriate in length                        Easy

[5 rows x 85 columns]

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [6]:
rows=len(df.axes[0])
print(rows)

11552

Print the number of columns in the dataset.

In [7]:
columns=len(df.axes[1])
print(columns)

85

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [8]:
df.dtypes

Respondent       int64
MainBranch      object
Hobbyist        object
OpenSourcer     object
OpenSource      object
                 ...
Sexuality       object
Ethnicity       object
Dependents      object
SurveyLength    object
SurveyEase      object
Length: 85, dtype: object

Print the mean age of the survey participants.

In [10]:
print('The mean age of the survey participants is ', df['Age'].mean().round(1))

The mean age of the survey participants is  30.8

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [26]:
print('The unique countries are ', df['Country'].nunique())
print('Country                               respondants')     

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(df['Country'].value_counts())

The unique countries are  135
Country                               respondants
United States                                3173
India                                         911
United Kingdom                                841
Germany                                       715
Canada                                        442
France                                        339
Brazil                                        328
Australia                                     287
Netherlands                                   259
Spain                                         257
Russian Federation                            211
Poland                                        205
Italy                                         188
Sweden                                        162
Switzerland                                   151
Ukraine                                       111
South Africa                                  104
Israel                                        104
Mexico                                         98
Turkey                                         98
Romania                                        95
Pakistan                                       93
Belgium                                        89
Austria                                        89
Denmark                                        85
Norway                                         84
Iran                                           83
Bulgaria                                       77
New Zealand                                    76
Greece                                         76
Argentina                                      73
Czech Republic                                 72
Finland                                        72
Portugal                                       69
China                                          69
Ireland                                        67
Hungary                                        64
Bangladesh                                     58
Serbia                                         53
Japan                                          50
Colombia                                       50
Nigeria                                        44
Sri Lanka                                      43
Malaysia                                       42
Egypt                                          39
Philippines                                    36
Indonesia                                      36
Slovenia                                       35
Lithuania                                      35
Hong Kong (S.A.R.)                             34
Singapore                                      33
Croatia                                        31
Slovakia                                       28
Estonia                                        27
Belarus                                        24
Taiwan                                         23
Chile                                          21
Kenya                                          20
Latvia                                         19
Thailand                                       19
United Arab Emirates                           19
Other Country (Not Listed Above)               18
Dominican Republic                             16
Uruguay                                        16
Costa Rica                                     15
Nepal                                          15
South Korea                                    15
Guatemala                                      13
Peru                                           12
Armenia                                        12
Albania                                        12
Viet Nam                                       12
Lebanon                                        12
Saudi Arabia                                   12
Ecuador                                        11
Luxembourg                                     11
Republic of Moldova                            10
Bosnia and Herzegovina                         10
Tunisia                                         9
Georgia                                         9
El Salvador                                     8
Malta                                           8
Morocco                                         8
Venezuela, Bolivarian Republic of...            7
The former Yugoslav Republic of Macedonia       7
Jordan                                          7
Ghana                                           7
Cyprus                                          7
Paraguay                                        6
Uganda                                          6
Iceland                                         6
Azerbaijan                                      5
Zimbabwe                                        5
Côte d'Ivoire                                   5
Honduras                                        5
Cameroon                                        4
Ethiopia                                        4
Cuba                                            4
Kyrgyzstan                                      4
Bolivia                                         4
Syrian Arab Republic                            3
Bahrain                                         3
Swaziland                                       3
Myanmar                                         3
Nicaragua                                       3
Algeria                                         3
Sudan                                           2
Mongolia                                        2
Congo, Republic of the...                       2
Afghanistan                                     2
Kuwait                                          2
United Republic of Tanzania                     2
Senegal                                         2
Uzbekistan                                      2
Mauritius                                       2
Montenegro                                      2
Panama                                          2
Burundi                                         2
Libyan Arab Jamahiriya                          1
Mozambique                                      1
Cambodia                                        1
Togo                                            1
Timor-Leste                                     1
Jamaica                                         1
Yemen                                           1
Monaco                                          1
Republic of Korea                               1
Somalia                                         1
Turkmenistan                                    1
Qatar                                           1
Liechtenstein                                   1
Rwanda                                          1
Brunei Darussalam                               1
Cape Verde                                      1
Iraq                                            1
Name: Country, dtype: int64

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).